/* Login.css */
.container-fluid{
  height: 100vh;
  background-image: url('/src/assets/login_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.login-container {
    width: 300px;
    padding: 20px;
    color: white;
    border-radius: 8px;
    background: #52040485;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btnLogin {
    width: 100%;
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  